#contenido{
	text-align: left;
	margin-left: 10%;
	margin-right: 30%;
	margin-top: 6%;
	font-size: 20;
	padding-left: 200px;
	padding-right: 150px;
	min-width:500px;
	font-family: 'Roboto', 'sans-serif';
	
}


#role{
	font-size: 30;
	font-family: 'Rubik', 'sans-serif';
}

#nombre{
	font-size:20;
}


.title{
margin-left:7%
}
